# deps
node_modules/

# Next.js
.next/
out/

# env files (never commit secrets)
.env
.env.local
.env.*.local

# debug
npm-debug.log*
.pnpm-debug.log*

# OS
.DS_Store

# Prisma
prisma/*.db
prisma/*.db-journal

# misc
*.tsbuildinfo
next-env.d.ts
